@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

*{
  list-style-type: none;
}
body {
  padding-top: 20px;
  background: rgba(172, 215, 112,0.4);
}

a {
  background-color: transparent;
  cursor: pointer!important;
  -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
  outline-width: 0;
    cursor: pointer!important;

  cursor: pointer;
}

.item {
  background: #abc;
  padding: 5px;
  text-align: center;
  font-size: 2rem;
  margin: 5px;
}

.item img {
  height: 300px;
}

@media screen and (max-width: 480px) {
  .item img {
    height: 200px;
  }
}
@media screen and (max-width: 600px) {
  .item img {
    height: 200px;
  }
}
@media screen and (max-width: 800px) {
  .item img {
    height: 200px;
  }
}
@media screen and (max-width: 1000px) {
  .item img {
    height: 200px;
  }
}

.social-icons li a {
  text-decoration: none !important;
  color: #fff !important;
}

.footer-social-icons ul {
  padding: 0 !important;
  list-style: none !important;
}
.social-icon {
  color: #fff !important;
}

.footer-social-icons ul.social-icons {
  margin-top: 10px !important;
}

.social-icons li {
  vertical-align: top !important;
  display: inline !important;
  height: 100px !important;
}

.social-icons a {
  color: #fff !important;
  text-decoration: none !important;
}

.fa-facebook {
  padding: 10px 14px;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #3d5b99;
}

.fa-facebook:hover {
  background-color: #322f30;
}

.fa-twitter {
  padding: 10px 12px;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #00aced;
}

.fa-twitter:hover {
  background-color: #322f30;
}

.fa-google-plus {
  padding: 10px 9px;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #e25714;
}

.fa-google-plus:hover {
  background-color: #322f30;
}
.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 1px solid #eee;
}
.iso-l{
  background-color: #f7f7f7;
  padding: 20px;
}
.hero-logo img{
  height: auto;
}

.navbar-light .navbar-nav .nav-link {
    margin-right: 20px !important;
}

.footer img{
  margin-bottom: 10px;
}
.img-fix{
  height: 200px;
}
.img-fliud{
  max-width: 100%;
  height: 200px;
}
.img-flud{
   max-width: 100%;
  height: 50px;
}
/* Main marketing message and sign up button e3f2fd*/
.jumbotron {
  text-align: center;
  background-color: #e3f2fd;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

.navbar {
  border: 1px solid #e5e5e5;
  margin-bottom: 10px;
}

.hero{
  padding: 20px;
}

@media (min-width: 768px) {
  .navbar-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .navbar-nav .nav-item {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}
